<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Choice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1B595FE1BEAA066008F6CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1B596121BEAA067008F6CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1B5961D1BEAA067008F6CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
